.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 170px;    
    }
    
.header {
align-self: center;
font-family: 'Open Sans', sans-serif;
font-style: light;
}
    
.thanks {
text-align: center;
font-size: 600%;
text-shadow: 1px 1px 1px #000000;
}

.text {
text-align: center;
font-size: 150%;
font-style: italic;
text-shadow: 1px 1px 2px #000000;
}

body {
background-image: url("/static/boots.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
color: white;
height: 650px;
padding: 50px 0 0 0; 
}